{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Kennel Search -->
<div class="col-8">
    <form method="get">
        <div class="form-group">
            <label for="id_check_in_date">Check in date:</label>
            {{ form.check_in_date }}
        </div>
        <div class="form-group">
            <label for="id_check_out_date">Check out date:</label>
            {{ form.check_out_date }}
        </div>
        <div class="form-group">
            <label for="id_num_pets">Number of Pets:</label>
            {{ form.num_pets }}
        </div>
        
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

{% endblock %}