{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container clear-nav-kennel-detail">
    <!-- Layout for larger screen sizes -->
    <div class="d-sm-block d-none">
        <div class="row justify-content-center">
            <!-- Reduce image size on larger screens -->
            <div class="col-12 col-md-6">
                <div class="aspect-ratio-square kennel-image-container">
                    {% if "placeholder" in kennel.kennel_image.url %}
                    <img src="{% static 'images/default-kennel.png' %}" alt="placeholder image"
                        class="kennel-detail-image img-fluid">
                    {% else %}
                    <img src="{{ kennel.kennel_image.url }}" alt="{{ kennel.name }}"
                        class="kennel-detail-image img-fluid">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <h2>{{ kennel.name }}</h2>
                <p>{{ kennel.description }}</p>
            </div>
            <div class="col-3">
                <h2>Address</h2>
                <p>
                    {% if kennel.address_line_2 %}
                    {{ kennel.address_line_1 }},</br>
                    {{ kennel.address_line_2 }},</br>
                    {% else %}
                    {{ kennel.address_line_1 }},</br>
                    {% endif %}
                    {{ kennel.city }},</br>
                    {{ kennel.county }},</br>
                    {{ kennel.postal_code }}
                </p>
                <p>
                    <strong>Phone:</strong> {{ kennel.contact_number }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <p><strong>Price:</strong> £{{ kennel.price_per_night }}</p>
            </div>
            <div class="col-3">
                <a href="{% url 'book_now' kennel_id=kennel.id %}" class="btn button" aria-label="Book Now">Book Now</a>
            </div>
        </div>
    </div>

    <!-- Layout for small screen sizes -->
    <div class="d-sm-none">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="aspect-ratio-square kennel-image-container">
                    {% if "placeholder" in kennel.kennel_image.url %}
                    <img src="{% static 'images/default-kennel.png' %}" alt="placeholder image"
                        class="kennel-detail-image img-fluid">
                    {% else %}
                    <img src="{{ kennel.kennel_image.url }}" alt="{{ kennel.name }}"
                        class="kennel-detail-image img-fluid">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2>{{ kennel.name }}</h2>
                <p>{{ kennel.description }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h2>Address</h2>
                <p>
                    {% if kennel.address_line_2 %}
                    {{ kennel.address_line_1 }},</br>
                    {{ kennel.address_line_2 }},</br>
                    {% else %}
                    {{ kennel.address_line_1 }},</br>
                    {% endif %}
                    {{ kennel.city }},</br>
                    {{ kennel.county }},</br>
                    {{ kennel.postal_code }}
                </p>
            </div>
            <div class="col-6">
                <div class="row">
                    <p>
                        <strong>Phone:</strong> {{ kennel.contact_number }}
                    </p>
                </div>
                <div class="row">
                    <p><strong>Price:</strong> £{{ kennel.price_per_night }}</p>
                </div>
                <div class="row">
                    <a href="{% url 'book_now' kennel_id=kennel.id %}" class="btn button" aria-label="Book Now">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12">
    <hr>
</div>
<div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1">
    <strong class="text-secondary ms-4">
        <i class="bi bi-chat-square-fill"></i> {{ review_count }} reviews
    </strong>
</div>
<div class="col-lg-8 col-md-10 card mb-4 mt-3 offset-lg-2 offset-md-1">
    <div class="card-body">
        {% if user.is_authenticated %}
        <h3>Leave a review:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form id="reviewForm" method="post">
            {{ review_form | crispy }}
            {% csrf_token %}
            <button id="submitButton" type="submit" class="btn btn-lg btn-submit btn-light">Submit</button>
        </form>
        {% else %}
        <p><a href="{% url 'account_login' %}" class="text-decoration-none">Log in</a> to leave a review</p>
        {% endif %}
    </div>
</div>
<div class="col-lg-8 col-md-10 card mb-4 mt-3 offset-lg-2 offset-md-1">
    <div class="card-body">
        <h3>Reviews:</h3>
        {% for review in reviews %}
        <div class="p-2">
            <p class="font-weight-bold">
                {{ review.author }}
                <span class="font-weight-normal">
                    {{ review.created_on }}
                </span> wrote:
            </p>
            <div id="review{{ review.id }}">
                {{ review.body | linebreaks }}
            </div>
            {% if user.is_authenticated and review.author == user %}
            <button class="btn btn-edit btn-outline-secondary" data-review_id="{{ review.id }}">Edit</button>
            <button class="btn btn-delete btn-outline-danger" data-review_id="{{ review.id }}">Delete</button>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

<div class="modal" id="deleteModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this review?
                Deleted reviews cannot be recovered!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" type="button" class="btn btn-danger" aria-label="Delete">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/reviews.js' %}"></script>
{% endblock %}