{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1>User Profile</h1>
    <div class="profile-info">
        <div class="profile-image">
            {% if "placeholder" in user_profile.profile_picture.url %}
            <img src="{% static 'images/default-user.png' %}" alt="placeholder image" class="img-fluid">
            {% else %}
            <img src="{{ user_profile.profile_picture.url }}" alt="{{ user_profile.username }}" class="img-fluid">
            {% endif %}
        </div>
        <div class="profile-details">
            <p><strong>Name:</strong> {{ user_profile.username }}</p>
            <p><strong>Address:</strong> 
                {% if user_profile.address_line_2 %}
                    {{ user_profile.address_line_1 }},</br>
                    {{ user_profile.address_line_2 }},</br>
                {% else %}
                    {{ user_profile.address_line_1 }},</br>
                {% endif %}
                {{ user_profile.city }}<br>
                {{ user_profile.county }}<br>
                {{ user_profile.postal_code }}</p>
            <p><strong>Contact Number:</strong> {{ user_profile.contact_number }}</p>
        </div>
    </div>
    <div class="pet-section">
        <h2>Pets</h2>
        <ul>
            <!-- Loop through user's pets -->
            {% for pet in user_pets %}
            <li>
                <!-- Display breed image -->
                <div class="pet-thumbnail">
                    {% if "placeholder" in pet.pet_picture.url %}
                    <img src="{% static 'images/default-pet.png' %}" alt="placeholder image" class="img-fluid">
                    {% else %}
                    <img src="{{ pet.pet_picture.url }}" alt="{{ pet.pet_name }}" class="img-fluid">
                    {% endif %}
                </div>
                <!-- Display pet's name -->
                <p>{{ pet.pet_name }}</p>
                <a href="{% url 'pet_profile' pet.owner pet.pet_name %}">{{ pet.pet_name }}</a>
            </li>
            {% endfor %}
            <!-- Add Pet button -->
            <li class="add-pet">
                <i class="bi bi-plus-circle"></i>
                <p>Add Pet</p>
            </li>
        </ul>
    </div>
</div>
{% endblock %}