{% load static %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Happy Hound Hotels offers top-quality pet boarding services for dogs. Our spacious kennels, experienced staff, and personalised care ensure that your furry friend feels safe and loved while you're away. Book now!">
    <meta name="keywords" content="pet boarding, dog kennel, pet hotel, animal care, pet accommodation, pet resort">
    <meta name="author" content="Happy Hound Hotels">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="d-flex flex-column min-vh-100">
    <header class="fixed-top shadow">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid col-lg-10">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <span class="d-md-inline d-none">Happy Hound Hotels</span><span class="d-md-none">HHH</span>
                    <img src="{% static 'images/happy-hound-hotels-logo.png' %}" alt="Happy Hound Hotels Logo"
                        id="nav-logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto">
                        {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'account_logout' %}" aria-label="Logout">Logout</a>
                        {% else %}
                        <a class="nav-link" href="{% url 'account_signup' %}" aria-label="Register">Register</a>
                        <a class="nav-link" href="{% url 'account_login' %}" aria-label="Login">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>

        {% block sidebar %}
        {% endblock %}

        <div class="container col-md-8 bg-light shadow">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible
                        fade show" id="msg" role="alert">
                        {{ message | safe }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer class="mt-auto">
        <div id="footer-container" class="container text-center">
            <div class="social-links">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://www.facebook.com" target="_blank"><i
                                class="bi bi-facebook" aria-label="Facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.twitter.com" target="_blank"><i
                                class="bi bi-twitter" aria-label="Twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com" target="_blank"><i
                                class="bi bi-instagram" aria-label="Instagram"></i></a></li>
                </ul>
            </div>
            <div class="copyright">
                <p>&copy; <span id="currentYear"></span> <a id="github-link" href="https://github.com/eddy-bryan"
                        target="_blank" aria-label="GitHub">Edward Bryan</a>.</p>
            </div>
        </div>
    </footer>


    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- JQuery UI -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>

    <script src="{% static 'js/script.js' %}"></script>

    {% block extras %}
    {% endblock %}
</body>

</html>