header {
	height: 71px;
}

.shadow {
	box-shadow: 0px 2px 15px #616161;
}

#nav-logo {
	height: 30px;
	vertical-align: -2px;
}

.navbar-brand {
	font-weight: bold;
	color: #616161;
	font-size: 30px;
}

/* Overrider hover set by bootrap class */
.navbar-brand:hover {
	color: #616161;
}

.max-width-form {
	max-width: 400px;
}

.form-card p, .form-card li {
	margin-left: 10%;
	margin-right: 10%;
}

.login input {
	width: 100%;
}

#id_remember {
	width: fit-content;
	margin-left: 0;
	margin-right: 0;
}

#sign-up-dog {
    background-color: #ffffff;
	background-image: url('../images/sign-up-dog.jpg');
	background-size: contain;
	background-position: bottom right;
    background-repeat: no-repeat;
}

#log-in-dog {
    background-color: #ffffff;
	background-image: url('../images/log-in-dog.jpg');
	background-size: contain;
	background-position: bottom right;
    background-repeat: no-repeat;
}

#log-out-dog {
    background-color: #ffffff;
	background-image: url('../images/log-out-dog.jpg');
	background-size: contain;
	background-position: bottom right;
    background-repeat: no-repeat;
}

#book-now-dog {
    background-color: #ffffff;
	background-image: url('../images/book-now-dog.jpg');
	background-size: contain;
	background-position: bottom right;
    background-repeat: no-repeat;
}

.clear-nav {
	margin-top: 71px;
}

.clear-nav-kennel-detail {
	margin-top: 90px;
}

.clear-nav-search-md {
	margin-top: 225px;
}

@media (max-width: 768px) {
    .clear-nav-md {
        margin-top: 71px;
    }
	.clear-nav-search-md {
		margin-top: 90px !important;
	}
}

footer {
    background-color: #E1E0E1;
}

#footer-container {
	padding: 10px;
}

#github-link {
    text-decoration: none;
}

footer p {
	margin-bottom: 0;
}

footer a, footer p {
    color: #616161;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #000000;
}

.kennel-list-item {
	border-radius: 10px;
}

.kennel-list-item a {
	text-decoration: none;
	color: #FF9F1C;
}

.kennel-list-item a:hover {
	color: #000000;
}

.kennel-list-image {
	height: 100%;
	min-width: 100%;
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
}

.kennel-detail-image {
	height: 100%;
	width: auto;
	min-width: 100%;
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
}

.kennel-image-container {
	border-radius: 10px;
}

.aspect-ratio-square {
	position: relative;
	width: 100%;
	padding-top: 100%; /* Maintain aspect ratio */
	height: 0;
	overflow: hidden;
}

#slogan {
	position: absolute;
	color: #aaaaaa;
	font-style: italic;
	margin-top: 75px;
	margin-left: 25%;
}

.nav-link {
	border-radius: 15px;
}

.nav-link:hover {
	background-color: #E1E0E1;
}

.button {
	background: #FF9F1C;
	border: none;
	text-transform: capitalize;
	display: block;
	border-radius: 10px;
	color: #ffffff;
    transition: background-color 0.3s ease;
}

.button:hover {
	background: #d88818;
}

.button:active {
	background: #454736;
}


/* Adaptation of search bar styling for modified ColorLib template */
.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
    background-color: #ffffff;
	background-image: url('../images/happy-dog.jpg');
	background-size: contain;
	background-position: bottom right;
    background-repeat: no-repeat;
}

.radius {
	border-radius: 10px;
}

.booking-form>form .row.no-margin {
	margin-right: 0px;
	margin-left: 0px;
    align-items: center;
    justify-content: center;
}

.booking-form>form .row.no-margin>[class*="col-"] {
	padding-right: 0px;
	padding-left: 0px;
}

.booking-form .form-group {
	position: relative;
	padding: 25px;
	margin-bottom: 0px;
}

.booking-form .form-control {
	background-color: transparent;
	border-radius: 0px;
	border: none;
	height: 50px;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 20px;
	color: #000000;
	font-weight: 400;
	padding: 0;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: #5e5e5e;
}

.booking-form .form-control:-ms-input-placeholder {
	color: #5e5e5e;
}

.booking-form .form-control::placeholder {
	color: #5e5e5e;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form .select-arrow {
	position: absolute;
	right: 0px;
	bottom: 30px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #000000;
	font-size: 14px;
}

.booking-form .form-label {
	color: #000000;
	display: block;
	font-weight: 400;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
}

.booking-form .form-btn {
	padding: 25px;
}

.booking-form .submit-btn {
	width: 100%;
	height: 75px;
	font-size: 16px;
	font-weight: 400;
}
/* End of modified ColorLib content */